<div class="jumbotron text-center">
	<h1>MEAN Authentication App</h1>
	<p class="lead">Welcome to our custom MEAN authentication application built from me</p>
	<div>
		<a href="" class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a href="" class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Express Backend</h3>
		<p>Express server is used to realize th connection to MongoDb and organize the models and query</p>
	</div>
	<div class="col-md-4">
		<h3>Angular-cli</h3>
		<p>this is from generate components, services an others with a local server</p>
	</div>
	<div class="col-md-4">
		<h3>JWT Tokens</h3>
		<p>Full featured authentication using JSON web tokens.</p>
	</div>
</div>
